<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fregments :: head"></head>
<body class="bg-info bg-gradient" style="--bs-bg-opacity: .15;">

    <div th:replace="fregments :: navbar"></div>

    <div th:if="${error}" th:replace="fregments :: alert-error"></div>
    <div th:if="${success}" th:replace="fregments :: alert-success"></div>

    <div class="makeups d-flex gap-4 m-4">
        <div class="card" th:each="makeupEach : ${makeups}" style="width: 18rem;">
            <form th:action="@{/add-to-cart}" method="post">
                <input type="hidden" th:value="${makeupEach.id}" name="id">
                <img th:src="${makeupEach.image}" width="18rem" class="card-img-top p-2" th:alt="${makeupEach.name}">
                <hr>
                <div class="card-body mt-0 pt-0">
                    <h5 class="card-title" th:text="${makeupEach.name}"></h5>
                    <span class="fw-bold">Price: <span th:text="${makeupEach.price}"></span></span>
                    <hr>
                    <p class="card-text" th:text="${makeupEach.description}"></p>
                    <hr>
                    <button type="submit" class="btn bg-danger bg-gradient" style="--bs-bg-opacity: .50;">Add to Card</button>
                    <a th:href="@{/makeup/edit/{id}(id=${makeupEach.id})}" class="btn btn-info">Edit</a>
                    <a th:href="@{/makeup/delete/{id}(id=${makeupEach.id})}" class="btn btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fregments :: create-makeup"></div>
    <div th:replace="fregments :: script"></div>
</body>
</html>